html,
body,
#app {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-input-number,
.n-date-picker {
  width: 100%;
}

.n-pagination {
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  & > div {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 2147483646;
}

::view-transition-new(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 2147483646;
}
